html, body {
	height : 100%;
	width : 100%;
	margin : 0;
	padding : 0;
}

#map {
	height : 500px; /* make dynamic */
	width : 100%;
}

#sidebar {
  background-color : #132839;
  color : #ffffff;
}

#slider {
  background : #000000;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 140px;
  overflow: hidden;
  margin : 0;
  padding : 0;
}
.thumbnail:hover {
  cursor : pointer;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.parkname-title {
  z-index : 9999;
  position : absolute;
  width : 100%;
  top : 0;
  left : 0;
  background-color : #000000;
  opacity : 0.8;
}
.parkname-title h2 {
  font : 14px sans-serif;
  font-weight : 250;
  padding : 5px;
  margin : 0;
  color : #fff;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}