html, body {
	height : 100%;
	width : 100%;
	margin : 0;
	padding : 0;
}

#map {
	height : 500px; /* make dynamic */
	width : 100%;
}

#sidebar {
  background-color : #132839;
  color : #799297;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 140px;
  overflow: hidden;
  margin : 0;
  padding : 0;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}