html, body {
	height : 100%;
	width : 100%;
	margin : 0;
	padding : 0;
}

#map {
	height : 500px; /* make dynamic */
	width : 100%;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 180px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}